<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.example.mapper.BlogMapper" >
    <select id="selectBlog" resultType="blog" databaseId="mysql">
        select * from Blog where id = #{id}
    </select>

    <select id="selectBlog" resultType="blog" databaseId="postgresql">
        select * from Blog where id = #{id}
    </select>

    <!--              参数:resultType           -->

    <!--期望从这条语句中返回结果的类全限定名或别名。 resultType 和 resultMap 之间只能同时使用一个。 -->
    <select id="selectBlogMap" resultType="hashmap">
        select * from Blog where id = #{id}
    </select>

    <!--如果查询返回的数据是一个集合，那么resultType应该设置成集合包含的类型，而不是集合本身的类型-->
    <select id="selectBlogs" resultType="blog">
        select * from Blog
    </select>

    <!--               参数:resultType           -->

    <!--              参数:parameterType           -->
     <insert id="insertBlog" parameterType="blog">
         insert into blog (id,name)values(#{id},#{name})
     </insert>
    <!--              参数:parameterType           -->


    <select id="countBlog" resultType="int" >
        select count(*) from Blog
    </select>
</mapper>